@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="jumbotron text-center">
    <h1>Prestamo Bancario</h1>

</div>
<div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
        <h2><strong>Bienvenidos a la página de prestamos bancarios</strong></h2>
        <p style="font-size:27px">
            Esta aplicación permitira introducir un cliente y
            pedir un prestamo al mismo a la vez que se puedan
            visualizar los prestamos del mismo.
        </p>
    </div>
    <div class="col-sm-4">

    </div>
</div>

</div>
