@model PrestamoBancarioNew.Models.Prestamo

@{
    ViewData["Title"] = "Pago";
}
@{ 
    double capital = Math.Round(Model.Capital,2);
    int plazo = Model.Plazo;
    double tasa = Model.Tasa;
    Prestamo pr = Model.PagoPrestamo(capital, plazo, tasa);
}

<h2>Pago del</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Prestamo</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Capital" class="col-md-2 control-label"> Capital restante</label>
            <div class="col-md-10">
                <input asp-for="Capital" class="form-control" readonly value="@Math.Round(pr.Capital,2)"/>
                <span asp-validation-for="Capital" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClienteId" class="control-label col-md-2"> Nombre del cliente</label>
            <div class="col-md-10">
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId" disabled></select>
                <input type="hidden" asp-for="ClienteId"  />
                <span asp-validation-for="ClienteId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Plazo" class="col-md-2 control-label">Plazo(meses)</label>
            <div class="col-md-10">
                <input asp-for="Plazo" class="form-control" value="@pr.Plazo" readonly/>
                <span asp-validation-for="Plazo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tasa" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tasa" class="form-control" value="@pr.Tasa" readonly/>
                <span asp-validation-for="Tasa" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pagar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Devuelta a la vista principal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
